<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="styles.css">
</head>
<body class="ayy">
<div class="box">
	The weight and type of mail you selected has the following price:
	$<%= price%>
</div>
</body>
</html